MONGO_URI=mongodb+srv://magap59415_db_user:YuhoBxb03SOFDjVe@cluster0.kh9hexu.mongodb.net/sidegigs_hr?appName=Cluster0
NODE_ENV=development
PORT=3000
HOST=localhost
APP_URL=http://localhost:3000/
JWT_SECRET=your_jwt_secret_key_here
STORAGE_TYPE=local
SYSTEM_ENV=local
LOGGING_FORMAT=dev
SESSION_SECRET=your_session_secret_here
SIDEGIGS_API_URL=https://api.sidegigs.app/api
